.emerg {
    background: #f6f7fb;
    min-height: 100vh;
    padding: 0 0 250px;
}

.emerg .emerg__notPatients {
    width: max-content;
    margin: 130px auto;
    color: mediumslateblue;
}

.emerg .list {
    padding: 80px 5% 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}

.emerg .btn__include {
    color: #5e44f2;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    left: 50%;
    border: none;
    background: none;
    transform: translateX(-50%);
    transition: 300ms;
    background: #fff;
    border-radius: 50%;
    width: max-content;
    height: 50px;

    &:hover {
        color: #9981f1;

        &::after {
            content: 'Incluir Paciente';
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -55px;
            left: -80px;
            width: 200px;
            height: 50px;
            font-size: 16px;
            border-radius: 5px;
            color: #fdfdfd;
            background: #111827;
            opacity: 0;
            animation: showPop 500ms ease both 500ms;
            transform: scale(0.5);
            box-shadow: 3px 3px 5px #0003;
        }


    }
}

@keyframes showPop {
    0% {}

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .altaList {
        max-width: 100%;
        border-top-right-radius: 10px;
    }

    .emerg .btn__include {
        bottom: auto;
        top: 45px;
        right: 20px;
        left: auto;
        transform: none;
    }

    .emerg .list {
        gap: 20px;
    }
}

@media print {
    @page {
        size: auto;
        margin: 0.5cm;
    }


}