.emerg {
    background: #f6f7fb;
    min-height: 100vh;
    padding: 0 0 250px;
}

.emerg__header {
    height: 75px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 5%;
    background: #111827;
    position: relative;
    z-index: 11;
}

.emerg__header a {
    color: mediumslateblue;
    font-size: 24px;
    border-right: 1px solid #333;
    padding: 5px 30px 5px 0;
    text-decoration: none;
    font-weight: 500;

}

.emerg__header button {
    background: none;
    border: none;
    color: #eee;
    font-weight: ;
    font-size: 14px;
    transition: 300ms;
    cursor: pointer;
    height: 100%;
    color: #888;


    &:hover {
        opacity: 0.5;
    }

    &:nth-last-child(1) {
        background: #7b57ff;
        color: #eee;
        height: max-content;
        align-items: center;
        padding: 10px;
        display: flex;
        gap: 10px;
        border-radius: 5px;
        margin: 0 0 0 auto;

        &:hover {
            transition: 500ms;
            background: #fdfdfd;
            color: #5e44f2;
            opacity: 1;
        }
    }

}

.emerg__header #active {
    color: #fdfdfd;
    border-bottom: 3px solid #7a63ff;
    transition: 0ms;

    &:hover {
        opacity: 1;
    }
}


.emerg .list {
    position: relative;
    padding: 50px 5% 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}


@keyframes showPop {
    0% {}

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.emerg .btn__include {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #5e44f2;
    background: #fff;
    position: fixed;
    right: 10px;
    bottom: 85px;
    font-size: 48px;
    display: none;
    z-index: 9;
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .emerg__header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .emerg .btn__include {
        display: block;
    }

    .emerg__header a {
        display: none;
    }

    .emerg__header button {
        &:nth-last-child(1) {
            display: none;
        }
    }

    .altaList {
        max-width: 100%;
        border-top-right-radius: 10px;
    }

    .emerg .list {
        gap: 20px;
    }
}

@media print {
    @page {
        size: auto;
        margin: 0.5cm;
    }

    .emerg__header {
        display: none;
    }


}