.loader {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border: 3px solid transparent;
    border-bottom-color: mediumslateblue;
    border-top-color: mediumslateblue;
    border-radius: 50%;
    animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    animation: rotateAntiLoader 1s linear infinite;
}

@keyframes rotateAntiLoader {
    50% {
        opacity: 0.5;
    }

    100% {
        transform: rotate(-360deg);
    }
}